.nuxt-content {
  padding: 15px;

  h1 {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
  }

  .description {
    font-size: 0.9rem;
    // background-color: #ffeaf7;
    margin: 4px 10px;
    padding: 10px;
    border-radius: 5px;
    border: #ffeaf7 dashed 1px;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 4px;
    background-color: #fff4fb;
    margin: 24px 0 2px 0;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 4px 7px;
    border-bottom: #ffeaf7 1px solid;
  }

  p {
    padding: 3px 10px;
  }
}